/*Ventas inicio*/


.carousel-container {
  
  position: relative;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  /**box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);*/
  border-radius: 10px;
  top: 200px; /* Ajusta esta propiedad según sea necesario */
  z-index: 2;
  
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  position: relative;
  flex: 0 0 calc(100% / 4);
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.carousel img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  transition: transform 0.2s;
  min-height: 250px;
}
.carousel img:hover {
  transform: scale(1.1);
}




.new-sticker {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ff3333;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 12px;
  border-radius: 5px;
  box-shadow: -5px 4px 5px 0 rgba(0, 0, 0, 0.3);/*sombras*/
}

.ofer-sticker {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #004bd6;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 10px;
  border-radius: 5px;
  box-shadow: -5px 4px 5px 0 rgba(0, 0, 0, 0.3);/*sombras*/
}

.description {
  margin-top: 10px;
  color: #555;
}

.boton-ver-inicio {
  margin-top: 20px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.boton-ver-inicio:hover {
  background-color: #45a049;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #555;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.title-produc {
  text-align: center;
  margin-bottom: 10px;
  font-size: 34px;
  font-family: sans-serif;
  color: #555;
}

.ver-mas-venta {
  padding: 1vw 4vw; /*tamaño*/
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  background-color: rgb(56, 56, 56);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
  top: 200px;
  left: 45%;
  position: relative;
  z-index: 2;
}

.ver-mas-venta:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.ver-mas-venta:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;

}


  /* Ajuste para pantallas pequeñas */
  @media screen and (max-width: 600px) {

    
    .carousel img {
      min-height: 0;
    }
    .carousel img:hover {
      transform: scale(1);
    }
    .description {
      font-size: 3vw;
      
    }
    .carousel-item h3{
      font-size: 3vw;
    }
    .boton-ver-inicio {
      padding: 1vw 4vw; /*tamaño*/
      
    }
    .ver-mas-venta{
      top: 100px;
      left: 36%;


    }

    .carousel-container {
      top: 100px; /* Ajusta esta propiedad según sea necesario */
      
    }

    .title-produc {
      font-size: 4vw;
      
    }
  }
  .fondo-2{
    background: #004bd6;
  }

  /* Ajuste para pantallas pequeñas */
  @media screen and (max-width: 900px) {

    
    .carousel img {
      min-height: 0;
    }
    .carousel img:hover {
      transform: scale(1);
    }
    .description {
      font-size: 2vw;
      
    }
    .carousel-item h3{
      font-size: 2vw;
    }
    .boton-ver-inicio {
      padding: 1vw 4vw; /*tamaño*/
      
    }
    .ver-mas-venta{
      top: 100px;
      left: 36%;


    }

    .carousel-container {
      top: 100px; /* Ajusta esta propiedad según sea necesario */
      
    }

    .title-produc {
      font-size: 4vw;
      margin-top: 20px;
      
    }
  }
  .fondo-2{
    background: #004bd6;
  }

  /*acerca de nosotros
  -----------------------------------------------------------------------------------------------------------------*/

  .title-acer{
    padding: 15px;
    border-radius: 10px;
    color: #585858;
    margin: 120px 60px 30px;
    background-color: #eeeeee;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    }
  .fondo-acer{  
    padding: 15px 20px 20px;
    border-radius: 10px;
    margin: 10px 60px;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
  .fondo-acer p{  
    font-size: 22px;
    color: #585858;
    width: 70%;
    margin-left: 20px;
  }
  .subtitle-acer{  
    font-size: 30px;
    padding: 15px 20px 20px;
    color: #2238ff;
  }
  .fondo-como{
height: 700px;
  }

  .mision{
    position: relative;
    width: 40rex;
    height: 40rex;
    padding: 15px 20px 20px;
    margin: 70px 60px;
    background-color: #ffffff;
    box-shadow: -10px 15px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;


  }
  .mision h3{
    text-align: center;
    font-size: 40px;
    color: #2238ff;
  }
  .mision p{
    color: #555;
    margin-top: 30px;
    font-size: 18px;
    text-align: justify;
  }
  .vision{
    width: 40rex;
    height: 40rex;
    padding: 15px 20px 20px;
    margin: 70px 60px;
    background-color: #3700ff;
    box-shadow: -10px 15px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    bottom: 17rex;
    left: 30rex;


  }.vision h3{
    text-align: center;
    font-size: 40px;
    color: #ffffff;
  }
  .vision p{
    color: #d6ccfc;
    margin-top: 30px;
    font-size: 18px;
    text-align: justify;

  }
  .fondo-descripcion{
    position: absolute ;
    width: 500px;
    height: 550px;
    left: 80px;
    margin-top: 80px;
    border-radius: 15px;
    background-color: #9ba8f5;
  }
  .useradmin{
    margin: 80px 700px;
    width: 500px;
    height: 550px;
    position: absolute;
  }
  .division2{
    display: flex;
  }
  .division2 img{
    width: 180px;
    margin-left: 300px;
    filter: saturate(0);
    transition: filter 0.5s;
  }
  .useradmin img:hover {
    filter: saturate(1);
  }
  .useradmin h3{
    
    margin: 0px 0px;
    position: relative;
    bottom: 260px;
    font-size: 28px;
  }
  .useradmin2 h3{
    margin: 0px 0px;
    position: relative;
    bottom: 260px;
    font-size: 28px;
  }
  .division2 h6{
    position: relative;
    font-size: 15px;
    bottom: 240px;
  }
  
  .useradmin2{
    margin-left:700px;
    margin-top: 380px;
    width: 500px;
    height: 550px;
    position: absolute;
  }
  .linea{
    position: relative;
    bottom: 340px;
  }
  .linea2{
    position: relative;
    bottom: 250px;
  }
  .linea3{
    position: relative;
    bottom: 130px;
  }
  .linea, .linea2, .linea3{
    color: #caceff;
  }
  .useradmin2 h6, .useradmin h6, .useradmin3 h6, .useradmin4 h6{
    color: #555;
  }
  
  .division3{
    
    display: flex;
  }
  /*usuario 3
  --------------------------------------------------------------------------------------------------*/
  .useradmin3{
    margin-left:70px;
    width: 500px;
    height: 50px;
  }
  .useradmin3 img{
    margin-right: 300px;
  }
  .useradmin3 h3{
    width: 300px;
    margin: 0px 200px;
    position: relative;
    bottom: 260px;
    font-size: 28px;
  }
  .useradmin3 h6{
    width: 300px;
    margin: 0px 200px;
    position: relative;
    font-size: 15px;
    bottom: 240px;

  }
  .useradmin3 .linea,  .useradmin3 .linea2,  .useradmin3 .linea3{
    margin: 0px 200px;
  }
  
  /*usuario 4
  --------------------------------------------------------------------------------------------------*/
  .useradmin4{
    margin-left:70px;
    width: 500px;
    height: 50px;
  }
  .useradmin4 img{
    margin-right: 300px;
  }
  .useradmin4 h3{
    width: 300px;
    margin: 0px 200px;
    position: relative;
    bottom: 260px;
    font-size: 28px;
  }
  .useradmin4 h6{
    width: 300px;
    margin: 0px 200px;
    position: relative;
    font-size: 15px;
    bottom: 240px;

  }
  .useradmin4 .linea,  .useradmin4 .linea2,  .useradmin4 .linea3{
    margin: 0px 200px;
  }