/* Fondo borroso con transición */
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3); /* Oscurecimiento */
        backdrop-filter: blur(10px); /* Desenfoque */
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        z-index: 10;
    }

    /* Efecto de entrada/salida para los popups */
    #downloads {
        overflow: scroll;
        max-height: 330px;
    }
    .downloads-popup {
        
        display: none;
        position: fixed;
        top: 50%;
        left: 61%;
        transform: translate(-50%, -50%) scale(0.9);
        width: 42.5%;
        height: 480px;
        max-width: 740px;
        background: rgba(255, 255, 255, 0.548);
        backdrop-filter: blur(15px);
        border-radius: 0 20px 20px 0;
        padding: 20px 20px 20px 20px;
        text-align: left;
        z-index: 20;
        border: 4px solid #ffffff;
        opacity: 0;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        /* overflow: scroll; */
    }
    .details{
        display: none;
        position: fixed;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%) scale(0.9);
        width: 44%;
        height: 480px;
        max-width: 740px;
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(15px);
        border-radius: 20px;
        padding: 20px 20px 20px 46px;
        text-align: left;
        z-index: 20;
        border: 4px solid #ffffff;
        opacity: 0;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    /* Clases para activar la suavidad */
    .overlay.show {
        opacity: 1;
    }

    .details.show, .downloads-popup.show {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }


    .details img {
        margin: -61px 0 0 -397px;
        position: absolute;
        width: 373px;
        height: 554px;
        border-radius: 15px;
        object-fit: cover;
        margin-bottom: 15px;
        border: 4px solid #ffffff;
    }

    .info h3 {
        font-size: 24px;
        color: #00D4FF;
    }

    .info p {
        font-size: 16px;
        color: #585858;
        max-height: 295px;
        overflow: scroll;
    }

    .button {
        display: inline-block;
        padding: 12px 18px;
        margin: 10px 5px;
        background: linear-gradient(45deg, #ff3b3b, #ff7300);
        color: white;
        border-radius: 10px;
        font-size: 16px;
        cursor: pointer;
        transition: transform 0.2s, background 0.3s;
        box-shadow: 0 4px 10px rgba(255, 59, 59, 0.6);
        border: none;
    }

    .button:hover {
        transform: scale(1.08);
        background: linear-gradient(45deg, #ff7300, #ff3b3b);
    }

    .button.blue {
        background: linear-gradient(45deg, #007BFF, #00D4FF);
        box-shadow: 0 4px 10px rgba(0, 212, 255, 0.6);
    }

    .button.blue:hover {
        background: linear-gradient(45deg, #00D4FF, #007BFF);
    }

    .downloads a {
        display: block;
        padding: 12px;
        background: #ffffff;
        border-radius: 10px;
        margin: 8px 0;
        text-decoration: none;
        color: #878787;
        transition: background 0.3s;
        border: 2px solid #00D4FF;
    }

    .downloads a:hover {
        color: #ffffff;
        background: #007BFF;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translate(-50%, -55%);
        }
        to {
            opacity: 1;
            transform: translate(-50%, -50%);
        }
    }
    :focus {
        outline: 0;
    }

    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    .flex {
        display: flex;
    }

    .flex-row {
        flex-direction: row;
    }

    .flex-col {
        flex-direction: column;
    }

    .v-center {
        align-items: center;
    }

    body {
        --bg: #EBEBEB;
        background: var(--bg);
    }

    .wrapper {
        --static: #2D2D2D;
        --solid: #FFF;
        --shadow: 0 0 5px rgba(0, 0, 0, .05);
        position: relative;
        margin: 0 auto;
        padding: 20px;
        height: 100vh;
        width: 100%;
    }

    html {
        font-family: 'Oxygen';
        color: var(--static);
        user-select: none;
    }

    span {
        display: inline-block;
        line-height: 1;
    }

        .a2 {
        position: relative;
        --focus-light: #3FE9D3;
        --focus-dark: #04B9C3;
    }

        .a2:after {
        display: none;
        content: attr(data-attr);
        position: absolute;
        bottom: -80px;
        left: 50%;
        transform: translate(-50%, -42.5px);
        font-size: 26px;
        font-weight: 300;
        white-space: pre;
        color: var(--focus-dark);
    }

    
    .a2:hover:after,
    .a2:focus:after {
        display: inline-block;
    }

    
    .a2:hover,
    .a2:focus {
        animation: focus 1s infinite;
    }

    @keyframes focus {
        0% {
            box-shadow: var(--shadow), 0 0 0 5px var(--focus-light);
        }
        50% {
            box-shadow: var(--shadow), 0 0 0 5px var(--focus-dark);
        }
        100% {
            box-shadow: var(--shadow), 0 0 0 5px var(--focus-light);
        }
    }


/*=========== header =============*/

    header {
        margin-bottom: auto;
        padding: 0 25px 20px 0;
        font-size: 20px;
        font-weight: 600;
        border-bottom: 2px solid var(--static);
    }

    header > * {
        margin: 0 10px;
    }


    a.profile {
        margin-right: auto;
        --d: 60px;
        width: var(--d);
        height: var(--d);
        border: 3px solid var(--solid);
        background: var(--bg);
        box-shadow: var(--shadow);
        border-radius: 100%;
    }

    a.profile:after {
        font-size: .75em;
    }

    .battery span i {
        font-style: initial;
        font-size: .6em;
    }


    /*=========== main =============*/

    main {
        position: relative;
        margin: 15px 0 0 0px;
    }

    .games {
        position: relative;
        /*margin-bottom: 10px;*/
        padding: 10px 95px;
        white-space: nowrap;
        overflow-x: hidden;
        /*margin-top: 42px;*/
        
        display: flex;
        flex-wrap: wrap;
        max-height: 500px;
        justify-content: center;
    }

    .games::-webkit-scrollbar {
        height: 0px;
    }
    .games .item {
        position: relative;
        display: inline-block;
        margin: 6px;
        --d: 195px;
        height: var(--d);
        width: var(--d);
        flex-shrink: 0;
        background: var(--bg);
        border: 3px solid var(--solid);
        box-shadow: var(--shadow);
        overflow: hidden;
        cursor: pointer;


        display: flex;
    align-items: center;
    justify-content: center;
    }

    .games .item img {
        width: 100%;
        transition: filter 0.3s ease-in-out;
    }

    .games .item .game-name {
        position: absolute;
        bottom: -100%; /* Inicialmente oculto */
        left: 0;
        width: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
        color: white;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        padding: 10px 0;
        transition: bottom 0.3s ease-in-out;
    }

    .games .item:hover .game-name {
        bottom: 0; /* Se desplaza hacia arriba */
    }

    .games .item:hover img {
        filter: blur(5px); /* Aplica desenfoque */
    }

    .games .item img {
        width: 100%;
    }

    main nav {
        text-align: center;
        margin-bottom: 50px;
    }

    main nav a {
        display: inline-flex;
        justify-content: center;
        margin: 0 10px;
        --d: 85px;
        height: var(--d);
        width: var(--d);
        background: var(--solid);
        box-shadow: var(--shadow);
        border-radius: 100%;
    }


/*=========== footer =============*/

    footer {
        position: relative;
        margin-top: auto;
        padding: 20px 25px 0;
        font-size: 24px;
        border-top: 2px solid var(--static);
    }

    .mode {
        margin-right: auto;
    }

    .accept .btn {
        --d: 25px;
        margin-right: 12px;
        display: inline-block;
        width: var(--d);
        height: var(--d);
        background: var(--static);
        border-radius: 100%;
        font-size: .75em;
        text-align: center;
        color: var(--bg);
    }
    .textBn{
        text-decoration: none; 
        color: rgb(51, 51, 51);
        transition: scale .1s;
    }
    .textBn:hover{
        scale: 1.1;
    }  .details-card {
    /*position: relative;
    width: 373px;
    height: 554px;*/
    perspective: 1000px; /* Profundidad del efecto 3D */
}

.details-card div, 
.details-card img {
    position: absolute;
    backface-visibility: hidden;
    border-radius: 15px;
    transition: transform 0.6s ease-in-out;
}

.details-card img {
    transform: rotateY(0deg);
}

.details-card .details-cont {
    color: black;
    font-size: 16px;
    font-weight: bold;
    transform: rotateY(-180deg);
    border: 4px solid #ffffff;
}

.details-card.flipped img {
    transform: rotateY(180deg);
}

.details-card.flipped .details-cont {
    transform: rotateY(0deg);
}

        .details-cont {
        position: absolute;
        margin: -60px 0 0 -397px;
        margin-bottom: 0px;
        margin-bottom: 0px;
        position: absolute;
        width: 373px;
        height: 554px;
        border-radius: 15px;
        object-fit: cover;
        margin-bottom: 15px;
        border: 4px solid #ffffff;
        background-image: url('/data/img/grid/caratula.png');
        background-size: cover; /* Ajusta la imagen al tamaño del div */
        background-position: center; /* Centra la imagen */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
        padding: 130px 0 0 15px;
}